<html ng-app="aplicacion">
<head>
	<title>Algoritmos MathPy</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="title" content="Algoritmos MathPy | Algoritmos matematicos en Python">
  	<meta name="description" content="Encuentra el algoritmo ideal escriot en Python para resolver tu problema matematico, solo aquí en Algoritmos MahtPy">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<link rel="stylesheet" type="text/css" href="./styles/style.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	<script type="text/javascript" src="./angular-src/angular.min.js"></script>
	<script type="text/javascript" src="./jquery-src/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="./scripts/app.js"></script>
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103630291-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>'
<script>
  var config = {
    apiKey: "AIzaSyCM02MCBX8G5PLkbdIUSO7BMFaTuj0cjLE",
    authDomain: "algoritmos-mathpy.firebaseapp.com",
    databaseURL: "https://algoritmos-mathpy.firebaseio.com",
    projectId: "algoritmos-mathpy",
    storageBucket: "",
    messagingSenderId: "34598625937"
  };
  firebase.initializeApp(config);
</script>
<div>
	<center>
		<h1 id="title" style="display:none">"Algoritmos MathPy"</h1>
	</center>
</div>
<main>
<center>
<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp" style="display:none">
	<div class="mdl-card__title">
	<center>
		<h2 class="mdl-card__title-text">Lista de Algoritmos</h2>
		<br>
		<b>Buscar Algoritmo: </b>
		<div class="mdl-textfield mdl-js-textfield">
    		<input class="mdl-textfield__input" type="text" ng-model="search">
    		<label class="mdl-textfield__label" for="search">Buscar</label>
  		</div>
	</center>
	</div>
	<div class="mdl-card__supporting-text">
			<ul class="demo-list-three mdl-list" ng-controller="searchController">
				<div id="p2" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
  				<li class="mdl-list__item mdl-list__item--three-line mdl-js-ripple-effect mdl-js-button mdl-button" id="btnd" ng-repeat="item in lista | filter: search">
  					<a href={{item.urlScript}}>
    				<span class="mdl-list__item-primary-content">
      				<i class="material-icons mdl-list__item-avatar"><img src="https://pbs.twimg.com/profile_images/439154912719413248/pUBY5pVj_normal.png"></i>
      				<span>{{item.nombre}}</span>
      				<span class="mdl-list__item-text-body">
        				{{item.apellido}}
      				</span>
    				</span>
    			</a>
  				</li>
  			</ul>
	</div>
</div>
</center>

</main>

</body>
</html>
